<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Pizza Time</title>
</head>

<body>
    <br>
    <div class="container-fluid row col-12 border-dark border-bottom mb-5">
        <h1 class='col-5'>Pizza Pete's</h1>
        <h3 class='col-4 mt-1'>Welcome {{request.session.first_name}}!</h3>
        <a class='col-0 ml-5 mt-2 mr-2'>Quick |</a>
        <a class='col-0 mt-2 mr-2' href="/pizza/order">Order |</a>
        <a class='col-0 mt-2 mr-2' href="">Account |</a>
        <a class='col-0 mt-2 mr-2' href="/">Logout</a>
    </div>

    <div class='col-12'>
        <h1 class='col-3 mx-auto'>QUICK OPTIONS</h1>
    </div>
    <div class='container-fluid col-12 pt-5'>
        <div class='text-center col-3 d-inline-block border border-dark mt-5 ml-5 mr-5 p-1'>
            <img class='mb-2' src="{% static 'images/new_order_pizza.jpg' %}" alt="image for New Orders"
                style="max-width:100%;">
            <p>Try something new? Create a new order from scratch!</p>
            <a class='mb-1 btn btn-primary' href="/pizza/order/">NEW ORDER</a>
        </div>
        <div class='text-center col-4 d-inline-block border border-dark mr-5 p-1'>
            <img class='mb-2' src="{% static 'images/new_order_pizza.jpg' %}" alt="image for New Orders"
                style="max-width:100%;">
            <p>Want to order something you already know you love? Re-order your favorite</p>
            <a class='mb-1 btn btn-primary' href="/pizza/order/favorite/">RE-ORDER MY FAVORITE</a>
        </div>
        <div class='text-center col-3 d-inline-block border border-dark p-1'>
            <img class='mb-2' src="{% static 'images/new_order_pizza.jpg' %}" alt="image for New Orders"
                style="max-width:100%;">
            <p>Up for anything? We'll come up with a random order. Surprise!</p>
            <a class='mb-1 btn btn-primary' href="/pizza/order/surprise/">SURPRISE ME</a>
        </div>
    </div>
</body>

</html>