<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Pizza Time</title>
</head>

<body>
    <br>
    <div class="container-fluid row col-12 border-dark border-bottom mb-5">
        <h1 class='col-5'>Pizza Pete's</h1>
        <h3 class='col-5'>Welcome {{request.session.first_name}}!</h3>
        <a class='col-0 mt-1 mr-1' href="">Order |</a>
        <a class='col-0 mt-1 mr-2' href="">Account |</a>
        <a class='col-0 mt-1 mr-2' href="/">Logout</a>
    </div>

    <div class='col-12'>
        <h3 class='col-2 mx-auto'>Quick Options</h3>
    </div>
</body>

</html>